*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body {
    background-image: url(./img/iStock-1163542789-945x630.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
h1 {
    font-size: 4em;
    color: grey;
}
#container {

}
#button-grid {
    margin-top: 50px;
    



}
.btn{
    font-size: 2em;
    padding: 30px;
    margin-left: 20px;
    background-color: transparent;

}
#btn-js{

    color: #10b1fe;
    border:2px solid ;
}
#btn-pytn{
    color: #3fc56b;
    border:2px solid ;
}
#btn-cpp{
    color: #ff6480;
    border:2px solid ;
}
#btn-html {
    color: #ff78f8;
    border:2px solid ;
}

