*{
    margin: 0;
    padding: 0;
    
}
body {
    background-image: url(./cute-panda.jpg);
    background-size: cover;
    
    
}
#header {
    width: 100%;
    text-align: center;
}
h1{
    color: white;
    font: 4em sans-serif;
    
}
.quiz {
    width: 49%;
    display: inline-block;
    margin-top: 20px;
}
.fact {
    width: 49%;
    display: inline-block;
}
h2{
    color: whitesmoke;
    display: inline;
    font-size: 3em;
    margin-left: 280px;
    
    
}
h3 {
    color: whitesmoke;
    display: inline;
    margin-left: 540px;
    font-size: 3em;

}

#dino-container{
    margin-top: 50px;
}



#container1{
    height: 500px; 
    

}
#container2 {
    height: 500px;
}

#button-grid1 {
    
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 200px;
    height: 120px;
    gap: 130px; 
    margin-left: 130px;
    
}
#button-grid2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 200px;
    height: 120px;
    gap: 150px;
    margin-left: 420px;
}
.land {
    width: fit-content;
    background-color: transparent;
    color: black;
    border: transparent;
    font-weight: 600;
    border-radius: 15px;
    font-size: 2em;
}
.land:hover{
    background-image: url(./cute-panda.jpg);
    color: rgb(40, 172, 0);
    border: 3px solid ;
    
}
.sea{
    width: fit-content;
    background-color: transparent;
    font-size:2em ;
    border:transparent;
    font-weight: 600;
    border-radius: 15px;
}
.sea:hover{
    background-image: url(./ocean.jpg);
    color: white;

    border:3px solid ;
}


#btn-dino {
    width: 180px;
    background-color: transparent;
    color: white;
    font-size: 2em;
    
    margin-left:260px;
    border: none;
}
#btn-dino:hover{
    background-color: rgba(56, 177, 0, 0.349);
    text-decoration: underline;
    text-decoration-color:white ;
    border-radius: 20px;
}
#btn-dino-fact {
    width: 140px;
    background-color: transparent;
    color: white;
    font-size: 2em;
    /* background-color: crimson; */
    margin-left: 570px;
    border: none;
}
#btn-dino-fact:hover{
    background-color: rgba(56, 177, 0, 0.349);
    text-decoration: underline;
    text-decoration-color:white ;
    border-radius: 80px;
}